.navbar {
    background-color: #ff4500;
    /* position: fixed !important; */
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow:1px 1px 0.4em var(--light-gray)
}
.container-fluid {
    position: relative;
}

/* Map section */
.map {
    width: 100%;
    height: 92vh;
    z-index: 1;
}

.year {
    position: absolute;
    z-index: 2;
    top:5%;
    font-size: 2em;
    color:#333;
    right: 10%;
}

.slider {
    position: absolute;
    z-index: 2;
    bottom:5%;
    font-size: 2em;
    color:#333;
    left: 2%;
}
/* legend */
.legend_wrapper {
    display: flex;
    width: 200px;
    background-color: black;
    color: white;
}

.legend-item {
    height: 20px;
    padding:0.1em;
    width:40%;
    margin: 0.5em;
    opacity: 0.7;
}

#collapseOne {
    flex-direction: column;
}

.main-container.close-map .map-container {
    display: none;
}

.property-marker {
    background-color:var(--primary-color);
    width:14px !important;
    height: 14px !important;
    text-align: center;
    border: 1px solid var(--light-gray);
    padding: 3px;
    border-radius: 7px;
    font-weight: 700;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px                      ;
    padding:-2px;
}

.leaflet-popup-content {
    margin:-1px !important;
    width: 200px !important;
    min-width:200px;
}

.leaflet-popup-close-button {
    mix-blend-mode: difference;
}

.popup-content {
    width: auto;
}

.marker-tip {
    position: absolute;
    bottom: 0%;
    z-index: 2;
    left: 35%;
    margin-bottom: -13px;
    border: 8px solid;
    border-color: rgb(229 153 13) transparent transparent transparent;
}

.leaflet-touch .leaflet-bar {
    border-width: 0px !important;
}

.leaflet-touch .leaflet-bar a:first-child {
    margin-bottom: 3px;
}

.leaflet-touch .leaflet-bar a{
    padding: 0;
    border-radius: 50% !important;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: var(--brand-color);
    box-shadow: 2px 2px 0.2em var(--gray);
}


/* Util classes */
.d-flex {
    padding: 0.2em 1em;
    display: flex;
    justify-content: space-between;
}

.toggle-map {
    position: fixed;
    bottom: 4%;
    left: 85%;
    background-color: teal;
    color: white;
    padding: 8px;
    border-radius: 2px;
    z-index: 2;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.display-mode {
    cursor: pointer;
}

.display-mode.active {
    color:var(--brand-color)
}

figure {
    margin:0;
}


.footer {
    height: 100px;
}


@media screen and (min-width: 50em) {
    .main-container {
        display:grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 0em;
        height: auto;
        position: relative;
    }

    .main-container.close-map {
       display: block
    }

    .main-container.close-map .map-container {
        display: none;
    }

    .main-container.close-map .card-section {
        box-shadow: none;
        display: block;
    }

    .main-container #card-list {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .main-container.close-map #card-list  {
        /* width:93vw; */
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
        box-shadow: none;
    }

    #card-list.table-view {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
    }

    .map-container {
        position: sticky;
        top: 55px;
        width: 100%;
        height: 92vh;
    }

    #mapContainer {
        height: 92vh;
    }

    .card-section {
        height: auto;
        z-index: 1;
        box-shadow: 2px 2px 0.3em #979797;
    }

    .details-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #card-list .card-item .img {
        width: 50%;
    }

    .close-map #card-list .card-item .img {
        border-radius:10px;
        width: 100%;
    }

    .close-map #card-list .card-item {
        border:0px;
    }

    .close-map #card-list .card-item:hover {
        border:0px;
        box-shadow:2px 2px 0.2em #ddd;
        border-radius: 10px;
    }

    .card-item + .card-item  {
        border-top:1px solid var(--gray);
    }

    #card-list .card-item {
        box-shadow: none;
        padding: 1em;
        margin:0;
    }

    .close-map #card-list .card-item {
        box-shadow: none;
        flex-direction:column;
    }
}