#map {
    height: 92vh;
    width:100%;
    z-index: 0;
}

.col-md-8 {
    padding: 0;
}

.custom-switch {
    padding: 1rem 2.25rem !important;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 0;
}

/* Card content */
.card {
    display: flex;
    flex-direction: row;
}

.card-title {
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
}

.card-img-top{
    height: 15vh;
    object-fit: cover;
    width: 50%;
}

.card-body {
    padding: 2px 4px;
}

.card-text {
    display: flex;
    margin:0;
    justify-content: space-between;
    font-size: 0.9rem;
}

.card .badge {
    position: absolute;
    top: 3%;
    left: 2%;
    color: #ffffff;
}

.commision-date {
    position: absolute;
    bottom: 0%;
    right: 2%;
    margin: 0;
}
/* Popup Content */
.leaflet-popup-content-wrapper {
    border-radius: 0 !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: -1px;
}

.popup-content {
    width: 200px;
}

.popup-content .popup-img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.popup-footer {
    padding: 4px;
}

.popup-footer .card-title {
    margin-top: -25px;
    color: #ededed;;
    mix-blend-mode: hard-light;
}

.text-description {
    justify-content: space-between;
    align-items: center;
}

.popup-footer span{
    /* justify-content: space-between; */
    flex-direction: column;
}

.popup-footer .edit-section {
    position: absolute;
    top:2%;
    left:2%;
}

.edit-section div {
    border-radius: 50%;
    padding: 3px 6px;
}

.popup-footer span:last-child {
    justify-content: space-evenly;
    margin: 4px;
}

span .btn {
    line-height: 1;
}

.leaflet-marker-icon:focus {
    outline: none;
}

.leaflet-touch .leaflet-bar {
    border-width: 0px !important;
}

.leaflet-touch .leaflet-bar a:first-child {
    margin-bottom: 3px;
}

.leaflet-touch .leaflet-bar a{
    padding: 0;
    border-radius: 50% !important;
    text-align: center;
    /* color: var(--white); */
    font-weight: 500;
    width: 28px;
    height: 28px;
    line-height: 28px;
    /* background-color: var(--brand-color); */
    box-shadow: 2px 2px 0.2em var(--gray);
}
