:root {
    --brand-color:#415B3B;;
    --primary-color:#008080;
    --dark:#30442b;
    --white:#fff;
    --black:#313131;
    --light-gray:#cccccc;
    --gray:#ddd;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family:Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    /* box-shadow:1px 1px 0.4em var(--light-gray); */
    border-bottom: 1px solid #ddd;
}

/* Utils */
.d-none {
    display: none;
}

.bg-dark {
    background-color: var(--dark) !important;
}
.bg-brand {
    background-color: var(--brand-color) !important;
    border-color: transparent;
    color:var(--white);
}

.border-none {
    border-width: 0px;
}
/*  */

.container-fluid {
    padding: 0;
    margin:0;
}

/* text-color */
.text-brand {
    color:var(--brand-color) !important;
}

.text-primary {
    color:var(--primary-color) !important;
}

.pagination-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
  text-decoration: none;
  color:var(--black)
}

.title:hover, .link:hover {
    color:var(--primary-color);
    text-decoration: none;
}

.link {
    color:var(--primery-color);  
}

.space-between {
    justify-content: space-between;
}

.footer p {
    margin:0
}

@media (min-width:50em) {
    .collapse {
        display: flex;
        justify-content: space-between;
    }
}
