{% extends 'base.html' %}
{% load static %}
{% block title %} Map {% endblock %}
{% block style %} 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<style> 
    .query-tab {
        height:92vh;
        width: 360px;
        background-color: var(--white);
        z-index: 2;
        position: absolute;
        top:0%;
        left:-360px;
        box-shadow: 4px 4px 0.3em var(--black);
        transition: left 0.3s;
        will-change: left;
    }

    .query-tab.open {
        left:0%;
    }

    h5 {
        font-size: 1.2em;
        text-align: center;
        margin-top: 0.5em;
    }

    .query-tab .close-btn {
        position: absolute;
        mix-blend-mode: color-dodge;
        background-color: var(--white);
        box-shadow: 4px 4px 0.3em var(--black);
        cursor: pointer;
        border-radius: 2px;
        padding: 0.3em;
        top:0%;
        right:-5%;
    }
    .query-tab .section {
        height: 20vh;
        width: 100%;
        background-color: var(--gray);
        margin-bottom: 1em;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h4 class="year" id="title-year">1989</h4>

    <div class="slider">
        <label for="">Year 
            <!-- <span id="help-year" class="text-small"> 1989 </span></label><br> -->
        <input type="range" min="1989" max="2019" step="10" id="year-slider" value="1989">
    </div>

    <div class="query-tab" id="query-tab">
        <h5>QUERY TOOL</h5>
        <div class="close-btn" id="close-btn">
            <i class="fa fa-times"></i>
        </div>


        <div class="section">

        </div>

        <div class="section">
            
        </div>
        <div class="section">
            
        </div>
    </div>

    <div class="map" id="map"></div>
</div>
{% endblock %}

{% block javascript %} 
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://unpkg.com/pbf@3.0.5/dist/pbf.js"></script>
    <script src="https://unpkg.com/geobuf@3.0.2/dist/geobuf.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}